<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.mapper.PcMapper">

	<insert id="savePc">
		insert into p_cc(batch_no,line_no,pc_status,crimp_contraction,crimp_stability,create_date) values
		<foreach collection="pcList" item="pc" separator=",">
			(
				#{pc.batchNo},
				#{pc.lineNo},
				#{pc.pcStatus},
				#{pc.crimpContraction},
				#{pc.crimpStability},
				#{pc.createDate}
			 )
		</foreach>
	</insert>
	
	<select id="findOneByBatchNoLineNoAndCreateDate" resultType="Integer">
		select count(*) from p_cc where batch_no=#{batchNo} and line_no=#{lineNo} and create_date=#{createDate}
	</select>
	
	<select id="findSomeByCreateDate" parameterType="PercentCrimp" resultType="PercentCrimp">
		SELECT pc1.batch_no,pc1.line_no,pc1.pc_status,pc1.crimp_contraction,pc1.crimp_stability,DATE_FORMAT(pc1.create_date, '%Y-%m-%d %T') create_date FROM 
		(SELECT batch_no,line_no,pc_status,crimp_contraction,crimp_stability,create_date FROM p_cc
		WHERE pc_status=0 AND DATE(create_date)=#{createDate}) pc1,
		(SELECT batch_no,line_no FROM p_cc WHERE pc_status=1 AND DATE(create_date)=#{createDate}) pc2
		WHERE pc1.batch_no=pc2.batch_no AND pc1.line_no=pc2.line_no
		UNION
		SELECT batch_no,line_no,pc_status,crimp_contraction,crimp_stability,create_date FROM p_cc 
		WHERE pc_status=1 AND DATE(create_date)=#{createDate}
		ORDER BY batch_no,line_no,pc_status;
	</select>
	
	<delete id="deletePercentCrimp">
		DELETE FROM p_cc WHERE batch_no=#{batchNo} AND line_no=#{lineNo} AND create_date=#{createDate}
	</delete>
	
	<update id="updatePercentCrimp">
		UPDATE p_cc SET pc_status=0 WHERE batch_no=#{batchNo} AND line_no=#{lineNo} AND create_date=#{createDate}
	</update>
	
	<insert id="saveDeletePercentCrimp">
		insert into p_cc_at(batch_no,line_no,pc_status,crimp_contraction,crimp_stability,create_date) values
		<foreach collection="pcDelList" item="pc" separator=",">
			(
				#{pc.batchNo},
				#{pc.lineNo},
				#{pc.pcStatus},
				#{pc.crimpContraction},
				#{pc.crimpStability},
				#{pc.createDate}
			 )
		</foreach>
	</insert>
</mapper>